<html>
<body>
  <head>
  <title>Login</title>
  </head>

<h1>Login</h1>
<form action="login" method="POST">
username: <input type="text" name="username"><br>
password: <input type="password" name="password"> (fake) <br>
    <br>
<button>Se connecter</button>
</form>
  <br>
  <br>
  <a href="register">S'inscrire</a>
   
  </body>
  </html>