<html>
<body>
  <head>
  <title>S'inscrire</title>
  </head>

<h1>S'inscrire</h1>
<form action="register" method="POST">
username: <input type="text" name="username"><br>
password: <input type="password" name="password"> (fake) <br>
    <br>
<button>S'inscrire</button>
</form>
  <br>
  <br>
  <a href="login">Se connecter</a>
   
  </body>
  </html>